@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playfair Display";
  src: url("/tipografías/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/tipografías/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/tipografías/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-playfair: "Playfair Display";
  --font-montserrat:"Montserrat-Light";
  --font-montserrat-medium:"Montserrat-Medium";
}